/* body */

/* set background to white and center align */
body {
    background-color: #F5FCFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

/* container is flex by column, items ordered down cross axis */
.container {
    display: flex;
    flex-direction: column;
}

/* navbar */

/* set flex, text color white, dark blue background, center align*/
nav {
    display: flex;
    height:100px;
    color: #1F2937;
    background-color: #F5FCFF;
    padding: 0px 0px 0px 100px;
    align-items: center;
}

/* set header logo size and margin */
.header-logo img {
    width: 100px;
    height: 100px;
    margin-right: auto;
}

/* navbar button area styles */
.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
    
}

/* button styles */

button {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}

button:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.blue-green {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.ocean-blue {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.dark {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.light {
    background-image: linear-gradient(to right, #3e3e3e, #737373, #9e9e9e, #ffffff);
}


/* main */

/* style for all classes ending in main */
main {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

/* style for side content in main */
.side-content {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}

.side-content h2 {
    text-decoration: underline;
}

.side-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    align-self: flex-end;
}

/* main content style */
.main-content {
    height: 200px;
    flex-basis: 400px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
}

.block {
    display:block;
    background:#000;
    background:rgba(0, 0, 0, 0.3);
    color:#FFF;
    padding:10px 5px;
}

/* welcome to my webpage style */
h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

/* main smaller font style */
.main-content p {
    font-family: 'Roboto', arial;
}

.main-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    align-self: flex-end;
}

/* image style */
.main-image img {
    width: 700px;
    height: 500px;
    filter:blur(2px);
}

/* about me */

/* about me main style, flex column */
.about {
    display: flex;
    flex-direction: column;
    background-color: #F5FCFF;
    padding: 0 50px;
}

/* about me p style*/
.about p {
    font-size: 36px;
    color: #1F2937;
    font-style: bold;
    font-weight: lighter;
    font-family: 'Roboto', arial;
    margin: 15px;
    text-decoration: underline;
}

/* about me b style*/
.about b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: center;
}

/* Pictures */

/* align rest of page center */
.content {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* picture container */
.content img {
    width: 450px;
    height: 400px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin: 20px 5px 20px 5px;
}

/* send message part */

/* overall container style */
.msg {
    background-color: #1F2937 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

/* item style */
.msg-item {
    flex: 1;
}

/* text style */
.msg-text {
    text-align: left;
}

/* enter your message part */
.msg-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

/* feel free part */
h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

/* Footer */
.footer {
    padding: 5px 5px;
    background-color: #1F2937;
    font-size: 16px;
    color: #fff;
    font-family: 'Roboto', arial;
}

a,
.footer:visited {
    color: white;
}

/* Sizing settings*/

  /* less than 1200px width, reduce width gap in main */
  @media (max-width: 1200px) {
      
    .container {
        display: flex;
        flex-direction: column;
    }

    main {
      gap: 50px;
      color: #F9FAF8;
      background-color: #1F2937;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px;
      flex-direction: column-reverse;
      width: 100%;
    }
  /* style for side content in main */
.side-content {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}

.side-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    align-self: flex-end;
}

/* main content style */
.main-content {
  
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
}

.block {
    display:block;
    background:#000;
    background:rgba(0, 0, 0, 0.3);
    color:#FFF;
    padding:10px 5px;
}

/* welcome to my webpage style */
h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

/* main smaller font style */
.main-content p {
    font-family: 'Roboto', arial;
}

.main-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    align-self: flex-end;
}

/* image style */
.main-image img {
    width: 700px;
    height: 500px;
    filter:blur(2px);
}
}
  
  
